
.best-products {
    margin: 26px 0 ;
}

.best-products__header {
    margin-bottom: 20px;
}

.best-products__title {
    text-align: left !;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    background: #F1F1F1;
    padding: 8px 30px;
}

.best-products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
