
.best-products {
    margin: 26px 0 ;
}

.best-products__header {
    margin-bottom: 20px;
}

.best-products__title {
    text-align: left !;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    background: #F1F1F1;
    padding: 8px 30px;
}

.best-products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.best-product {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(25% - 20px);
}

.best-product__image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.best-product__name {
    font-size: 18px;
    color: #333;
    margin: 10px 0 5px;
}

.best-product__price {
    font-size: 16px;
    color: #007acc;
}
