*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.section-content{
    max-width: 1250px; 
    margin: 40px auto; 
    display: flex;
}

.content{
    width: 100%;
}

.container_footer{
    background-color: #333;
}
